* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
  max-width: 1400px;
  margin: auto;
}

/* HEADER + NAV */

.presentation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.liens {
  display: flex;
  box-sizing: content-box;
}

.logo {
  padding-left: 55px;
  padding-top: 44px;
}

.title img {
  width: 61.09px;
  height: 19px;
}

.liens {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-right: 77px;
  padding-left: 77px;
}

.link_hebergement_marseilles {
  position: relative;
  font-weight: 500;
  border-top: 2px;
  border-top-style: solid;
  border-top-color: transparent;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 44px;
}

.link_hebergement_marseilles:hover {
  color: #0065fc;
  border-top-color: #0065fc;
  border-top: 2px;
  border-top-style: solid;
}

.link_activités_marseilles {
  position: relative;
  font-weight: 500;
  border-top: 2px;
  border-top-style: solid;
  border-top-color: transparent;
  padding-left: 49.45px;
  padding-right: 49.45px;
  padding-top: 44px;
}

.link_hebergement_marseilles p a:hover {
  color: #0065fc;
}

.link_activités_marseilles p a:hover {
  color: #0065fc;
}

.link_activités_marseilles:hover {
  color: #0065fc;
  position: relative;
  color: #0065fc;
  border-top-color: #0065fc;
  border-top: 2px;
  border-top-style: solid;
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo {
    padding-left: 0px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }

  .liens {
    display: flex;
    padding-top: 48px;
    justify-content: space-evenly;
    padding-right: 3%;
    padding-left: 3%;
  }

  .link_hebergement_marseilles {
    position: relative;
    border-top: none;
    padding-top: 0px;
    padding-bottom: 23px;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }

  .link_activités_marseilles {
    position: relative;
    border-top: none;
    padding-top: 0px;
    padding-bottom: 23px;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .link_activités_marseilles:hover {
    color: #0065fc;
    position: relative;
    color: #0065fc;
    border-top-color: #0065fc;
    border-bottom: 3px;
    border-bottom-style: solid;
    color: #0065fc;
    border-top-color: #0065fc;
    border-top: 0px;
    border-top-style: none;
  }
  .link_hebergement_marseilles:hover {
    color: #0065fc;
    position: relative;
    color: #0065fc;
    border-top-color: #0065fc;
    border-bottom: 3px;
    border-bottom-style: solid;
    color: #0065fc;
    border-top-color: #0065fc;
    border-top: 0px;
    border-top-style: none;
  }
}

/* RESEARCH */
.button_search {
  padding-left: 40px;
}
.button_search h1 {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-top: 63px;
  /* padding-left: 55px; */
}

.button_search h2 {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 8px;
  /* padding-left: 55px; */
}

.button {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  /* padding-left: 40px;  */
  padding-top: 20px;
}

.icon_localisation {
  position: relative;
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 50px;

  font-size: 18px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 12px;
}
.icon_localisation i {
  justify-content: center;
}

.search {
  position: relative;
  height: fit-content;
}

#site-search {
  position: relative;
  height: 50px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border-color: #f2f2f2;
  border-style: solid;
  outline: none;
}

.search_button {
  height: 50px;
}

.searchs {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  background-color: #0065fc;
  color: white;
  width: 100%;
  border: 0px solid #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  height: inherit;
}

.searchs:hover {
  cursor: pointer;
}

.searchs:active {
  background-color: #0084ff;
  cursor: pointer;
}

.search_button .loupe {
  display: none;
}
/* MOBILE */

@media screen and (max-width: 767px) {
  .search_button .loupe {
    display: block;
    background-color: #0065fc;
    color: white;
    width: 100%;
    border: 0px solid #f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    height: inherit;
  }

  .loupe:hover {
    cursor: pointer;
  }

  .loupe:active {
    background-color: #0084ff;
    cursor: pointer;
  }
  .button_search h1 {
    padding-top: 30px;
  }
  .search_button .searchs {
    display: none;
  }
  .button_search {
    padding-left: 20px;
  }
}

/* FILTERS */

.filtres {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 46px;
  padding-right: 20px;
  padding-left: 40px;
  text-align: center;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 40px;
}

.e:hover {
  background-color: #deebff;
}

.filter {
  border: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.quatre_filtres {
  display: flex;

  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  padding-right: 20px;

  text-align: center;
  align-items: center;
  gap: 40px;
}
.e {
  position: relative;
  display: flex;
  flex-direction: row;

  padding: 14px 20px 14px 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
}

.information {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 50px;
  align-items: center;
  gap: 10px;
  padding-top: 54px;
}

.information img {
  position: relative;
  box-sizing: content-box;
  border-style: solid;
  padding: 7px 10px 7px 10px;

  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.information p {
  display: flex;
  gap: 10px;
  font-weight: 400;
}

/* TABLETTE */

@media screen and (max-width: 991px) {
  .filtres {
    position: relative;

    /* justify-content: space-evenly; */
    gap: 2%;
    /* flex-wrap: nowrap; */
    padding-left: 20px;
  }

  .quatre_filtres {
    gap: 20px;
  }

  .filter p {
    display: flex;
  }
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .filtres {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: calc(100% - 5em);
    /* height: 300px; */
    gap: 10px 10px;
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }

  .filter p {
    display: flex;
  }

  .e {
    align-items: center;
    /* padding: 14px 10px 14px 10px; */
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    max-width: 250px;
  }

  .information {
    position: relative;
    padding: 20px;
    padding-top: 20px;
  }
  .quatre_filtres {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 0 5% 0 5%;
  }
}
/* SECTION MARSEILLES */

.hôtel_marseilles {
  position: relative;
  display: flex;
  padding-left: 40px;
  gap: 2%;
  padding-top: 40px;
  padding-right: 40px;
}

#hébergement_marseilles {
  position: relative;
  align-content: center;
  padding-top: 42px;
  padding-bottom: 46px;
  justify-content: center;
  background: #f2f2f2;
  width: 66%;
  border-radius: 20px;
  align-items: center;
}

#hébergement_marseilles h3 {
  display: flex;
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-top: 70px;
  padding-left: 40px;
}

#hébergement_marseilles h2 {
  display: flex;
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-left: 40px;
}

.six_rectangles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 23px;
  padding-left: 3%;
  padding-right: 3%;
  gap: 10% 2%;
  width: 100%;
}

.canebière {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.307);
}
.photo {
  width: 100%;
}
.photo img {
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  align-items: center;
  object-fit: cover;
}

.canebière span {
  margin-left: 16px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  white-space: -moz-pre-space;
}

.canebière p {
  font-weight: 400;
  margin-left: 16px;
  margin-top: 7px;
}

.canebière .star {
  padding: 1px;
  margin-left: 16px;
  margin-top: 7px;
  padding-bottom: 8px;
  gap: 10px;
  color: #0065fc;
}
.star i {
  font-size: 1vh;
}

.star i:last-child {
  font-size: 1vh;
  color: #f2f2f2;
}

/* TABLETTE */

@media screen and (max-width: 991px) {
  #hébergement_marseilles {
    width: 100%;
  }

  .hôtel_marseilles {
    flex-wrap: wrap;
    padding-right: 50px;
    gap: 50px;
  }

  #populaires {
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    width: 100%;
    border-radius: 20px;

    align-items: stretch;
  }
}

/* MOBILE */

@media screen and (max-width: 767px) {
  #hébergement_marseilles {
    width: 100%;
    border-radius: 0px;
    background-color: white;
    padding: 0 20px 40px 20px;
  }

  .hôtel_marseilles {
    flex-wrap: wrap-reverse;
    padding-right: 0px;
    padding-left: 0px;
    gap: 0px;
  }
  #hébergement_marseilles h2 {
    padding-top: 20px;
    margin: auto;
  }

  .six_rectangles {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    padding-top: 20px;
    gap: 20px;
    max-width: 400px;
    margin: auto;
  }

  #hébergement_marseilles h3 {
    color: white;
    padding: 0px;
    padding-top: 20px;
  }
}

/* POPULAIRE */

#populaires {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  width: 33%;
  border-radius: 20px;

  align-items: stretch;
}

.title_les_plus_populaires {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 42px;
}

.trois_rectangles {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-evenly;
}

.matin {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.307);
  height: 144px;
}

.text {
  flex-direction: column;
  display: flex;
  padding-top: 16px;
  gap: 10px;
  width: 60%;

  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding-left: 10px;
}
.text p {
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
}
.photoo {
  width: 40%;
  height: 100%;
}

.matin .photoo img {
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 144px;
  align-items: center;
  object-fit: cover;
}

.text .star {
  padding-left: 0px;
}

.text .star {
  padding: 1px;
  margin-top: 7px;
  padding-bottom: 8px;
  gap: 10px;
  color: #0065fc;
}
.text .star i {
  font-size: 1vh;
}

.text .star i:last-child {
  font-size: 1vh;
  color: #f2f2f2;
}

/* TABLETTE */

@media screen and (max-width: 991px) {
  #populaires {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    width: 100%;
    border-radius: 20px;

    align-items: stretch;
  }

  .trois_rectangles {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 40px;
    padding-top: 25px;
  }
  .title_les_plus_populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* MOBILE */

@media screen and (max-width: 767px) {
  #populaires {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    width: 100%;
    border-radius: 0px;
    padding: 0 20px 0 20px;
    align-items: stretch;
  }

  .trois_rectangles {
    flex-direction: column;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 400px;
    margin: auto;
  }
}

/* ACTIVITES */

.activité_title h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-left: 40px;
  padding-top: 60px;
  padding-bottom: 18.47px;
}

.activités {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.activity {
  position: relative;

  background: #ffffff;
  width: 100%;
  height: 90%;
  border-radius: 20px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.307);
}

.lieux {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-top: 20px;
  padding-left: 19px;
  padding-bottom: 20px;
}
.liens_activity {
  width: 22%;
}
.image {
  width: 100%;
  object-fit: cover;
  height: 85%;
}

.image img {
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image2 {
  width: 100%;
  object-fit: cover;
  height: 85%;
}
.image2 img {
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1188px) {
  .lieux {
    /* font-size: 14px;
    line-height: 17px; */
    padding-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .activité_title {
    padding: 0 20px 0 20px;
  }
  .activité_title h1 {
    padding: 0;
  }
  .activités {
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 0px;
    padding-top: 20px;

    margin: auto;
  }
  .liens_activity {
    width: 400px;
    height: 200px;
    padding: 0px;
    margin: auto;
  }
  .image {
    height: 75%;
  }
  .image2 {
    height: 75%;
  }
  .lieux {
    padding-top: 10px;
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 61px;
  padding-right: 50px;
  justify-content: center;
}

.bandeau {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
  background: #f2f2f2;
  width: 1339px;
  height: 225px;
  padding-left: 50px;
  padding-top: 61px;
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  .bandeau {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: baseline;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .a_propos h1 {
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding-left: 0;
    padding-top: 61px;
    padding-right: 0;
  }
}

.a_propos {
  justify-content: space-evenly;
}

.a_propos h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.a_propos p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 12px;
}

/* Breackpoint mobile */

/* @media screen and (max-width: 767px) {
  body {
    background: rgba(84, 6, 87, 0.514);
  }
} */
